.hero{
    display: flex;
    justify-content: center;
    column-gap: 2em;
    padding-block: 2em;
}

.image-container{
    width:6em;
    height:6em;
}

.hero-image{
    width:6em;
    height:6em;
}

.restaurant-data .statistics{
    font-size: 0.8em;
}

.hero h2{
    font-size: 1em;
}

/* CATEGORIES */

.categories{
    padding-block: 3em;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    row-gap: 2em;
    justify-content: center;
}

.category{
    width: 90%;
}

.category-header{
    width: 100%;
    background-color:burlywood;
}

.category-items{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
}

.visible{
    display:block;
}

.hidden{
    display:none;
}

