.html{
    transition: all 1s ease-in-out;
}

.item{
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-start;
    background-color: lightgray;
    padding: 1em;
    animation: apear 3s linear;
    background-image:url("./src/assets/paper01.png");
    object-fit:cover;
    object-position: bottom;
    overflow: hidden;
}

.item-info{
    flex-basis: 50%;
    display:flex;
    flex-direction: column;
    row-gap: 0.8em;
}



.item .name{
    color:antiquewhite;
    text-shadow: 1px 1px 5px rgb(12, 12, 12), 0 0 1em rgb(28, 28, 29), 0 0 0.2em rgb(44, 44, 45);
}

.item .data-set{
    padding-left: 1em;
    text-shadow: 12px 12px 5px white;
    background-color: rgba(255,255,255, 0.6);
}

@keyframes apear {
    from { opacity:0}
    to {opacity:1}
}

.data-set{
    display:flex;
    column-gap: 1em;
    align-items: center;
}

.data-set h4{
    font-size: 0.9em;
}

.data-set span{
    font-size: 1.6em;
}

.item .image-container{
    position: relative;
    width:8em;
    height: 8em;
}

.item .image-container img{
    width:100%;
    height:100%;
}

.add-button{
    z-index:999;
    height:2em;
    position: absolute;
    left:0;
    right:0;
    bottom:-1em;
    font: 1.2em bold;
    background-color: rgb(0, 58, 0);
    color:antiquewhite;
    border-radius:0.2em;
}

.add-button:hover{
    background-color:antiquewhite;
    color:rgb(0, 58, 0);;
}

.item .description-header{
    width:8em;
    text-align: center;
    color:rgb(229, 236, 227);
    background-color: rgba(0,0,0, 0.6);
    padding-block: 0.4em;
    padding-left: 0.4em;
    cursor: pointer;
    border-radius: 0.6em;
}

.description-text{
    background-color: rgba(255,255,255, 0.6);
    padding-left: 2em;
    padding-block: 0.6em;
    color:rgb(9, 0, 37);
    line-height: 1.2em;
    animation : apear 2s linear,
               expand 1s linear,
              
}

@keyframes expand {
    from {transform:scaleY(0)}
    to {transform:scaleY(100%)}
}

@keyframes get-in {
    from {transform:translateX(-200%)}
    to {transform:translateX(0)}
}

@keyframes get-out {
    from {transform:translateX(0%)}
    to {transform:translateX(-200%)}
}

.get-in{
    animation: get-in 1.2s ease-in-out;
}

.get-out{
    animation: get-out 6s ease-in-out;
}
    


.green{
    color:rgb(1, 95, 1);
}

.orange-red{
    color:rgb(128, 35, 2);
}

.anchor-wraper{
    font-size: 1.2em;
    color:rgb(1, 1, 89);
    text-decoration: none;
    
}

