*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;
  height: 4em;
  font-size: 2em;
  background-color: rgb(206, 216, 216);
}

.logo {
  width: 42px;
  height: 42px;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 1.2em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid darkslateblue;
  background-color: rgb(206, 216, 216);
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4em;
  column-gap: 5em;
  row-gap: 4em;
  background-color: rgb(206, 216, 216);
}

.restaurant-card {
  flex-basis: 15%;
  border: 1px solid darkslategrey;
  border-radius: 0.4em;
  background: linear-gradient(
    75deg,
    lightgrey,
    rgb(205, 204, 204),
    white,
    rgb(176, 206, 183),
    white,
    rgb(173, 192, 183)
  );
  box-shadow: 0.5em 0.5em 0.6em rgba(73, 77, 73, 0.4);
  min-width: 200px;
}

.restaurant-info-container{
  padding-left: 1em;
  padding-bottom: 1em;
}

.restaurant-card h2{
  font-size: 1.2em;
  margin-block: 0.2em;
  color:darkred;
}

.restaurant-card h3{
   font-size: 0.8em;
   margin-block: 0.1em;
}

.label{
    font-size: 1em;
    color:darkred;
}

.img-container{
   width:100%;
   height:60%;
   border-bottom:1px solid grey;
   border-radius: 0.4em;
   overflow: hidden;
}

.img-container img{
  width:100%;
  height: 100%;
  
  transition: transform 1.4s;
}

.img-container img:hover{
  transform: scale(1.1,1.1);
}


.more-btn{
  height: 30px;
  width: 60px;
  background-color: blue;
  color:antiquewhite;
  margin:2em;
}

.footer{
  height:300px;background-color: cadetblue;
}


@keyframes exampleAnimation {
  from {
    
    transform: rotate(0deg);
  }
  to {
    
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  animation: exampleAnimation 2s ease-in-out infinite;
}

.search-container{
  display:flex;
  align-items: center;
  column-gap: 1.2em;
  height:100px;
  padding-left: 3em;
  background-color: lightgrey;
  
}

.search-container button,.search-container input{
   font-size: 1.4em;
   padding-inline: 1em;
   padding-block: 0.2em;
   
}
.search-container button{
   color: antiquewhite;
   background-color: blue;
   cursor:pointer;
}

.search-container button:hover{
  color: rgb(249, 243, 235);
  background-color: rgb(21, 21, 252);
  
}

.search-container button:active{
  color: rgb(250, 250, 250);
  background-color: rgb(65, 65, 252);
  
}