.hero{
    display: flex;
    justify-content: center;
    column-gap: 2em;
    padding-block: 2em;
}

@keyframes apearMenu {
    from 0% {transform:scaleX(0%);}
    to 100% {transform:scaleX(50%);}
}

.image-container{
    width:6em;
    height:6em;
    animation: apearMenu 3s linear;
}

@keyframes slidein {
    from {
      transform: translateX(-200%);
    }
  
    to {
      transform: translateX(0%);
    }
  }

.hero-image{
    width:6em;
    height:6em;
    animation: slidein 1s ease-in-out;
}

.restaurant-data .statistics{
    font-size: 0.8em;
}

.hero h2{
    font-size: 1em;
}

/* CATEGORIES */
.categories-h1{
    text-align: center;
    color:rgb(1, 1, 95);
}

.categories{
    padding-block: 3em;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    row-gap: 1em;
    justify-content: center;
}

.category{
    width: 80%;
    animation: slidein 1s ease-in-out;
}

.category-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block: 0.4em;
    padding-inline: 1em;
    
    background: linear-gradient(to bottom,
         rgb(239, 247, 209) 40%,
         rgb(137, 137, 117) 80%,
         rgb(224, 224, 186) 100%
    
    );
}

.category-items{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
}



.visible{
    display:block;
}

.hidden{
    display:none;
}



